<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>This is the sample project I built for <a href="https://onemonthrails.com">One Month Rails</a>.<br /><b><em>
        this project was made through blood sweat and tears</em></b></p>
    </div>
</div>